html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px; }

/* Toolbar area */
.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px; }

md-toolbar h1 {
  margin: auto; }

/* Sidenav area */
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%; }

md-list .md-button.selected {
  color: #03a9f4; }

md-sidenav md-list {
  padding: 0px 0px 8px 0px; }

/* Primary content area */
#content {
  overflow: hidden; }

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px; }

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px; }

#content md-icon.avatar {
  margin-top: 10px; }

#content .md-button.contact > md-icon {
  fill: black;
  width: 36px;
  height: 36px; }

md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px; }

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms; }

#content img {
  display: block;
  height: auto;
  max-width: 500px; }

/* Utils */
.content-wrapper {
  position: relative; }

/* Typography support coming in 0.8.0 */
md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400; }

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7); }

md-bottom-sheet md-icon {
  margin-right: 20px; }

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px; }

/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade
/* ------------------------------------------- */
.toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .toggle.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-enter-active {
    opacity: 1; }
  .toggle.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-leave-active {
    opacity: 0; }
  .toggle.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .toggle.ng-hide-add.ng-hide-add-active {
    opacity: 0; }
  .toggle.ng-hide-remove {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Top
/* ------------------------------------------- */
.slide-top {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-top.ng-enter {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-top.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .slide-top.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-leave-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-hide-add.ng-hide-add-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-remove {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-top.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Rigth
/* ------------------------------------------- */
.slide-right {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-right.ng-enter {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-right.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .slide-right.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-right.ng-leave-active {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    opacity: 0; }
  .slide-right.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-right.ng-hide-add.ng-hide-add-active {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    opacity: 0; }
  .slide-right.ng-hide-remove {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-right.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Left
/* ------------------------------------------- */
.slide-left {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-left.ng-enter {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-left.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .slide-left.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-left.ng-leave-active {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    opacity: 0; }
  .slide-left.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-left.ng-hide-add.ng-hide-add-active {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    opacity: 0; }
  .slide-left.ng-hide-remove {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-left.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
.slide-down {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-down.ng-enter {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-down.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .slide-down.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-down.ng-leave-active {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0; }
  .slide-down.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-down.ng-hide-add.ng-hide-add-active {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0; }
  .slide-down.ng-hide-remove {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-down.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Top
/* ------------------------------------------- */
.bouncy-slide-top {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-top.ng-enter {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-top.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .bouncy-slide-top.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-top.ng-leave-active {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    opacity: 0; }
  .bouncy-slide-top.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-top.ng-hide-add.ng-hide-add-active {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    opacity: 0; }
  .bouncy-slide-top.ng-hide-remove {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-top.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Rigth
/* ------------------------------------------- */
.bouncy-slide-right {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-right.ng-enter {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-right.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .bouncy-slide-right.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-right.ng-leave-active {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    opacity: 0; }
  .bouncy-slide-right.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-right.ng-hide-add.ng-hide-add-active {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    opacity: 0; }
  .bouncy-slide-right.ng-hide-remove {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-right.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Left
/* ------------------------------------------- */
.bouncy-slide-left {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-left.ng-enter {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-left.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .bouncy-slide-left.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-left.ng-leave-active {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    opacity: 0; }
  .bouncy-slide-left.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-left.ng-hide-add.ng-hide-add-active {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    opacity: 0; }
  .bouncy-slide-left.ng-hide-remove {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-left.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
.bouncy-slide-down {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-down.ng-enter {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-down.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .bouncy-slide-down.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-down.ng-leave-active {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    opacity: 0; }
  .bouncy-slide-down.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-down.ng-hide-add.ng-hide-add-active {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    opacity: 0; }
  .bouncy-slide-down.ng-hide-remove {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-down.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Scale Fade
/* ------------------------------------------- */
.scale-fade {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .scale-fade.ng-enter {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .scale-fade.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .scale-fade.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade.ng-leave-active {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 0; }
  .scale-fade.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade.ng-hide-add.ng-hide-add-active {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 0; }
  .scale-fade.ng-hide-remove {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .scale-fade.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Spin Fade
/* ------------------------------------------- */
.spin-toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .spin-toggle.ng-enter {
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .spin-toggle.ng-enter-active {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1; }
  .spin-toggle.ng-leave {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .spin-toggle.ng-leave-active {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 0; }
  .spin-toggle.ng-hide-add {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .spin-toggle.ng-hide-add.ng-hide-add-active {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 0; }
  .spin-toggle.ng-hide-remove {
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .spin-toggle.ng-hide-remove.ng-hide-remove-active {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1; }

/* ------------------------------------------- */
/* Scale in Fade
/* ------------------------------------------- */
.scale-fade-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .scale-fade-in.ng-enter {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .scale-fade-in.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .scale-fade-in.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade-in.ng-leave-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .scale-fade-in.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade-in.ng-hide-add.ng-hide-add-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .scale-fade-in.ng-hide-remove {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .scale-fade-in.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Scale in Fade
/* ------------------------------------------- */
.bouncy-scale-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-scale-in.ng-enter {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 0; }
  .bouncy-scale-in.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .bouncy-scale-in.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 1; }
  .bouncy-scale-in.ng-leave-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .bouncy-scale-in.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 1; }
  .bouncy-scale-in.ng-hide-add.ng-hide-add-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .bouncy-scale-in.ng-hide-remove {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    display: block !important;
    opacity: 0; }
  .bouncy-scale-in.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Flip In
/* ------------------------------------------- */
.flip-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .flip-in.ng-enter {
    transform: perspective(300px) rotateX(90deg);
    -ms-transform: perspective(300px) rotateX(90deg);
    -webkit-transform: perspective(300px) rotateX(90deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 0.7; }
  .flip-in.ng-enter-active {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    opacity: 1; }
  .flip-in.ng-leave {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .flip-in.ng-leave-active {
    transform: perspective(300px) rotateX(135deg);
    -ms-transform: perspective(300px) rotateX(135deg);
    -webkit-transform: perspective(300px) rotateX(135deg);
    opacity: 0.7; }
  .flip-in.ng-hide-add {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .flip-in.ng-hide-add.ng-hide-add-active {
    transform: perspective(300px) rotateX(135deg);
    -ms-transform: perspective(300px) rotateX(135deg);
    -webkit-transform: perspective(300px) rotateX(135deg);
    opacity: 0; }
  .flip-in.ng-hide-remove {
    transform: perspective(300px) rotateX(90deg);
    -ms-transform: perspective(300px) rotateX(90deg);
    -webkit-transform: perspective(300px) rotateX(90deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    display: block !important;
    opacity: 0; }
  .flip-in.ng-hide-remove.ng-hide-remove-active {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    opacity: 1; }

/* ------------------------------------------- */
/* Rotate In
/* ------------------------------------------- */
.rotate-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .rotate-in.ng-enter {
    transform: perspective(300px) rotateY(40deg);
    -ms-transform: perspective(300px) rotateY(40deg);
    -webkit-transform: perspective(300px) rotateY(40deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 0.7; }
  .rotate-in.ng-enter-active {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    opacity: 1; }
  .rotate-in.ng-leave {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .rotate-in.ng-leave-active {
    transform: perspective(300px) rotateY(-40deg);
    -ms-transform: perspective(300px) rotateY(-40deg);
    -webkit-transform: perspective(300px) rotateY(-40deg);
    opacity: 0.7; }
  .rotate-in.ng-hide-add {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .rotate-in.ng-hide-add.ng-hide-add-active {
    transform: perspective(300px) rotateY(-40deg);
    -ms-transform: perspective(300px) rotateY(-40deg);
    -webkit-transform: perspective(300px) rotateY(-40deg);
    opacity: 0; }
  .rotate-in.ng-hide-remove {
    transform: perspective(300px) rotateY(40deg);
    -ms-transform: perspective(300px) rotateY(40deg);
    -webkit-transform: perspective(300px) rotateY(40deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    display: block !important;
    opacity: 0; }
  .rotate-in.ng-hide-remove.ng-hide-remove-active {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    opacity: 1; }

.bottom-action-container {
  z-index: 50;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 0; }
  @media screen and (min-width: 600px) {
    .bottom-action-container {
      margin-left: 25%;
      width: 50%;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.57);
      bottom: 10px; } }
  @media screen and (min-width: 960px) {
    .bottom-action-container {
      margin-left: 33.3%;
      width: 33.3%;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.57);
      bottom: 10px; } }

@media screen and (min-width: 600px) {
  .x01-game {
    margin: 15px 0; } }
@media screen and (min-width: 600px) {
  .x01-game .x01-player {
    padding: 6px 0 10px; } }
.x01-game .x01-player .headline {
  color: rgba(0, 0, 0, 0.57);
  font-size: 22px;
  font-weight: 400;
  line-height: 22px; }
  .x01-game .x01-player .headline .legs {
    border-right: 1px solid rgba(0, 0, 0, 0.27);
    width: 18px;
    display: inline-block; }
  .x01-game .x01-player .headline .current-points {
    width: 40px;
    display: inline-block; }
@media screen and (max-height: 600px) {
  .x01-game .x01-player .dart-selector {
    line-height: 22px;
    min-height: 22px;
    margin: 0 8px; } }
.x01-game .x01-player .out-chart {
  margin-top: 8px; }
  .x01-game .x01-player .out-chart .item {
    text-align: center;
    font-size: 12px; }
.x01-game .active-player {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdbdb+0,f4f4f4+100&0.65+0,0+100 */
  background: -moz-linear-gradient(top, rgba(219, 219, 219, 0.65) 0%, rgba(244, 244, 244, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219, 219, 219, 0.65)), color-stop(100%, rgba(244, 244, 244, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(219, 219, 219, 0.65) 0%, rgba(244, 244, 244, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(219, 219, 219, 0.65) 0%, rgba(244, 244, 244, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(219, 219, 219, 0.65) 0%, rgba(244, 244, 244, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(219, 219, 219, 0.65) 0%, rgba(244, 244, 244, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dbdbdb', endColorstr='#00f4f4f4',GradientType=0 );
  /* IE6-9 */ }
  .x01-game .active-player .headline {
    color: #3f51b5; }
    .x01-game .active-player .headline .legs {
      border-right: 1px solid rgba(63, 81, 181, 0.27); }
    .x01-game .active-player .headline .wasted {
      color: #f44336; }
  .x01-game .active-player .out-chart {
    margin-top: 0px; }
    .x01-game .active-player .out-chart.failed .item {
      color: #f44336; }
    .x01-game .active-player .out-chart .item {
      color: #3f51b5;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 6px; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

.icon-button {
  height: auto !important;
  line-height: 0 !important; }

.menu-button {
  width: 36px !important; }

.margin-bottom-zero {
  margin-bottom: 0; }

.padding-bottom-zero {
  padding-bottom: 0; }

.no-padding {
  padding: 0; }

button.login-button {
  text-align: center;
  margin-right: 0; }

.darts-round-count {
  opacity: 0.9;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 22px; }

/* Game creator */
header p {
  color: rgba(0, 0, 0, 0.54); }

@media screen and (min-width: 600px) {
  .kdarts-content {
    width: 60%;
    margin-left: 20%; } }
@media screen and (min-width: 960px) {
  .kdarts-content {
    width: 40%;
    margin-left: 30%; } }

/*# sourceMappingURL=kdarts.css.map */
