<div layout="column">

    <div layout="row">
        <md-button class="md-raised" layout-fill
                   ng-disabled="isTrebleDisabled()"
                   ng-class="{'md-accent': getCurrentThrow().isTreble()}"
                   ng-click="toggleTreble()">Treble</md-button>
        <md-button class="md-raised" layout-fill
                   ng-disabled="isDoubleDisabled()"
                   ng-class="{'md-accent': getCurrentThrow().isDouble()}"
                   ng-click="toggleDouble()">Double</md-button>
    </div>

    <div layout="row">
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(7)" ng-click="record(7)">7</md-button>
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(8)" ng-click="record(8)">8</md-button>
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(9)" ng-click="record(9)">9</md-button>
    </div>

    <div layout="row">
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(4)" ng-click="record(4)">4</md-button>
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(5)" ng-click="record(5)">5</md-button>
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(6)" ng-click="record(6)">6</md-button>
    </div>

    <div layout="row">
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(1)" ng-click="record(1)">1</md-button>
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(2)" ng-click="record(2)">2</md-button>
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(3)" ng-click="record(3)">3</md-button>
    </div>

    <div layout="row">
        <md-button class="md-raised" layout-fill ng-disabled="getCurrentThrow().getShot() == 0" ng-click="deleteNumber()">←</md-button>
        <md-button class="md-raised" layout-fill ng-disabled="invalidNumber(0)" ng-click="record(0)">0</md-button>
        <md-button class="md-raised md-warn" layout-fill ng-click="clear()">C</md-button>
    </div>

    <div layout="row">
        <md-button class="md-raised" layout-fill ng-click="previousDart()" ng-disabled="isFirstDart()">Previous</md-button>
        <md-button class="md-raised md-primary md-hue-3" layout-fill ng-click="nextDart()" ng-if="!isLastDart()">Next Dart</md-button>
        <md-button class="md-raised" layout-fill ng-click="saveDarts()">Save</md-button>
    </div>
</div>
