<div>
  <div class="bottom-action-container">
    <div flex layout="row">
      <button mat-button
              class="mat-raised-button"
              layout-fill
              (click)="goBack()"
              *ngIf="phase > 1">Back</button>

      <button mat-button
              class="mat-raised-button mat-primary"
              layout-fill
              (click)="showNextPhase()"
              *ngIf="phase < 3">Continue</button>

      <button mat-button
              class="mat-raised-button mat-accent md-hue-3"
              layout-fill
              (click)="showNextPhase()" *ngIf="phase === 3">Start</button>
    </div>
  </div>

  <!-- PHASE 1 -->
  <div layout="column">
    <header layout="column" layout-align="center center">
      <h1 class="md-display-1 margin-bottom-zero">New Game</h1>

      <p class="md-subhead margin-top-zero slide-downx" *ngIf="phase === 1">Choose Your Game Type</p>
      <p class="md-subhead margin-top-zero slide-downx" *ngIf="phase === 2">Configure Game</p>
      <p class="md-subhead margin-top-zero slide-downx" *ngIf="phase === 3">Configure Players</p>
    </header>

    <div flex layout="column" *ngIf="phase === 1">
      <button mat-button
              mat-raised-button
              class="margin-bottom-small"
              [class.mat-accent]="gameConfig.game === '170'"
              (click)="setGame('170')">170</button>
      <button mat-button
              mat-raised-button
              class="margin-bottom-small"
              [class.mat-accent]="gameConfig.game === '301'"
              (click)="setGame('301')">301</button>
      <button mat-button
              mat-raised-button
              class="margin-bottom-small"
              [class.mat-accent]="gameConfig.game === '501'"
              (click)="setGame('501')">501</button>
    </div>

    <mat-form-field *ngIf="phase === 1">
      <mat-label>First to</mat-label>
      <mat-select [(value)]="gameConfig.legs">
        <mat-option value="1">1 leg</mat-option>
        <mat-option value="2">2 legs</mat-option>
        <mat-option value="3">3 legs</mat-option>
        <mat-option value="4">4 legs</mat-option>
        <mat-option value="5">5 legs</mat-option>
        <mat-option value="6">6 legs</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- PHASE2 -->
    <div layout="column" *ngIf="phase === 2">
      <h4>Players</h4>

      <div layout="row">
        <button mat-button
                mat-raised-button
                layout-fill
                color="{{gameConfig.players.length === 2 ? 'accent' : ''}}"
                (click)="playerCount(2)">2
        </button>
        <button mat-button
                mat-raised-button
                layout-fill
                color="{{gameConfig.players.length === 3 ? 'accent' : ''}}"
                (click)="playerCount(3)">3
        </button>
        <button mat-button
                mat-raised-button
                layout-fill
                color="{{gameConfig.players.length === 4 ? 'accent' : ''}}"
                (click)="playerCount(4)">4
        </button>
      </div>
    </div>

    <div layout="column" *ngIf="phase === 2">
      <h4 class="margin-top-small">Rules</h4>
      <mat-checkbox [(ngModel)]="gameConfig.doubleOut">Double out</mat-checkbox>
    </div>

    <div layout-fill class="action-container margin-top-medium" *ngIf="phase === 2">
      <div layout="row">
        <button mat-button
                mat-raised-button
                layout-fill
                (click)="goBack()" *ngIf="phase > 1">Back
        </button>
        <button mat-button
                mat-raised-button
                color="primary"
                (click)="showNextPhase()">Continue
        </button>
      </div>
    </div>

    <!-- PHASE3 -->
    <div *ngIf="phase === 3">
      <div *ngFor="let player of gameConfig.players" layout="row">
        <mat-form-field class="no-padding md-block" layout-fill>
          <input matInput
                 placeholder="Name"
                 [(ngModel)]="player.name"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-raised-button style="align-self: start">Login</button>
      </div>
    </div>

    <div layout-fill class="action-container margin-top-medium" *ngIf="phase === 3">
      <div layout="row">
        <button mat-button
                mat-raised-button
                layout-fill
                (click)="goBack()">Back
        </button>
        <button mat-button class="mat-raised-button mat-accent md-hue-3"
                layout-fill
                (click)="showNextPhase()">Start
        </button>
      </div>
    </div>


  </div>
</div>
