<div class="x01-game">

    <div class="bottom-action-container" ng-if="x01Controller.players">
        <dart-keyboard round="x01Controller.getCurrentRound()" on-save="x01Controller.saveRound()"></dart-keyboard>
    </div>

    <div layout="column">
        <div ng-repeat="player in x01Controller.players"
             layout="column"
             class="x01-player"
             ng-class="{'active-player': $index === x01Controller.playerIndex}">

            <div layout="row" layout-padding layout-align="space-between center" class="padding-bottom-zero">
                <div class="headline">
                    <span>{{player.name}}</span>
                </div>
                <div class="headline">
                    <span class="md-caption" title="Avarege">{{x01Controller.getAvgPoints(player)}}</span>
                    <span class="legs"
                          ng-if="x01Controller.isLegCounterVisible()">{{x01Controller.getLegsWon(player)}}</span>

                    <span ng-if="!player.isWinner()"
                          class="current-points"
                          ng-class="{'wasted': x01Controller.getPointsWithActiveRound(player) < 0}">
                    {{x01Controller.getPointsWithActiveRound(player)}}
                    </span>
                    <span ng-if="player.isWinner()">WON</span>
                </div>
            </div>

            <div layout="row" ng-if="$index === x01Controller.playerIndex">
                <md-button class="md-raised dart-selector"
                           layout-fill
                           ng-class="{'md-accent': x01Controller.getThrowIndex() === 0}"
                           ng-click="x01Controller.setThrowIndex(0)">{{x01Controller.getWrittenPoints(0)}}</md-button>
                <md-button class="md-raised dart-selector"
                           layout-fill
                           ng-class="{'md-accent': x01Controller.getThrowIndex() === 1}"
                           ng-click="x01Controller.setThrowIndex(1)">{{x01Controller.getWrittenPoints(1)}}</md-button>
                <md-button class="md-raised dart-selector"
                           layout-fill
                           ng-class="{'md-accent': x01Controller.getThrowIndex() === 2}"
                           ng-click="x01Controller.setThrowIndex(2)">{{x01Controller.getWrittenPoints(2)}}</md-button>
            </div>

            <div layout="row"
                 class="out-chart"
                 ng-class="{'failed': x01Controller.getOutChart(player).failedOutAttempt}"
                 ng-if="x01Controller.getOutChart(player).darts">

                <span class="item"
                      ng-repeat="out in x01Controller.getOutChart(player).darts track by $index"
                      layout-fill>{{out}}</span>
            </div>
        </div>

    </div>
</div>
